<% content_for :head do %>
	<meta http-equiv="refresh" content="10">
<% end %>
<div id="check" class="container">
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2">
			<h1>
				<i class="fa fa-spinner fa-pulse"></i>
				Analyse en cours de <%= @host %>
			</h1>
			<p class="small">
				Début de l’analyse : <%= l @result.date %>
			</p>
			<p class="pull-right">
				Merci de patienter…
				<span class="small">(Cette page se rafraîchit automatiquement toutes les 10 secondes)</span>
			</p>
		</div>
	</div>
</div>
