.bundle/
.generators
.rakeTasks
*.iml
Gemfile.lock
.env.production
.env.*.local
.env.local

/db/*.sqlite3
/db/*.sqlite3-journal
/log/*
!/log/.keep
/tmp/
/public/assets/
/deploy.sh
/.excluded
/vendor/bundle/
