<div id="check" class="container">
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2">
			<h1>
				<%= @host %> ne supporte pas SSH
			</h1>
			<% if Time.now - @result.date >= Rails.configuration.refresh_delay %>
			<%= link_to 'Rafraîchir', {action: :refresh}, class: %i(btn btn-default pull-right) %>
			<% end %>
		</div>
	</div>
</div>
