<div id="about" class="container">
	<div class="row">
		<div class="col-sm-12">
			<h1>About</h1>

			<p>
				This service is developed by
				<a href="https://imirhil.fr/" target="_blank">aeris</a>.
			</p>

			<p>
				Source code is available under
				<a href="https://www.gnu.org/licenses/agpl-3.0.html" target="_blank">AGPL
					v3</a>
				license :
			</p>
			<ul>
				<li>
					Engine:
					<a href="https://git.imirhil.fr/aeris/cryptcheck" target="_blank">
						https://git.imirhil.fr/aeris/cryptcheck
					</a>
				</li>
				<li>
					Frontend:
					<a href="https://git.imirhil.fr/aeris/cryptcheck-rails" target="_blank">
						https://git.imirhil.fr/aeris/cryptcheck-rails
					</a>
				</li>
			</ul>

			<p>
				This project contributes to improve Ruby too.
			</p>
			<ul>
				<li>
					<a href="https://github.com/ruby/openssl/commit/bd6a4954382b7b742575d5688bd9b93a597bcc24" target="_blank">Access TLS session ephemeral key</a>
				</li>
				<li>
					<a href="https://github.com/ruby/openssl/pull/165" target="_blank">Support for TLS fallback signaling (SCSV)</a>
				</li>
				<li>
					<a href="https://github.com/ruby/openssl/pull/166" target="_blank">Allow multiple certificates for TLS server</a>
				</li>
				<li>
					<a href="https://github.com/ruby/ruby/pull/1732" target="_blank">CAA RR DNS support</a>
				</li>
			</ul>

			<p>
				Icons used:
			</p>
			<ul>
				<li>
					<a href="https://commons.wikimedia.org/wiki/File:Tick_green_modern.svg" target="_blank">Tick green modern</a>
					by <a href="https://commons.wikimedia.org/wiki/User:Jossifresco" target="_blank">Jossifresco</a> (public domain)
				</li>
				<li>
					<a href="https://commons.wikimedia.org/wiki/File:Crystal_128_error.svg" target="_blank">Crystal 128 error</a>
					by <a href="https://commons.wikimedia.org/wiki/User:RedHotHeat" target="_blank">RedHotHeat</a>
					(<a href="https://www.gnu.org/copyleft/lesser.html" target="_blank">LGPL</a>)
				</li>
			</ul>

			<h1>Support</h1>
			<p>
				You can support development and hosting for this service:
			</p>

			<p id="contribute">
				Bitcoin <a href="bitcoin:1aerisnnLWPchhDSXpxWGYWwLiSFUVFnd?label=cryptcheck">1aerisnnLWPchhDSXpxWGYWwLiSFUVFnd</a><br/>
				<a id="bitcoin" href="bitcoin:1aerisnnLWPchhDSXpxWGYWwLiSFUVFnd?label=cryptcheck">
					<%= image_tag 'bitcoin.png', alt: 'Donate using Bitcoin' %>
				</a>
				<br/>

				Liberapay, for recurring donation, require a account (but respect your privacy)<br/>
				<a id="liberapay" href="https://liberapay.com/aeris/donate" target="_blank"><%= image_tag 'donate.svg', alt: 'Donate using Liberapay' %></a>
				<br/>

				Donorbox, for recurring and one-shot donation, doesn't require an account<br/>
				<a id="donorbox" href="https://donorbox.org/cryptcheck" target="_blank">Donate</a>
				<br/>

				Paypal, what to say about this service and your privacy, but already used by most of the world<br/>
				<a id="paypal" href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&currency_code=EUR&business=aeris@imirhil.fr&item_name=CryptCheck%20donation" target="_blank"><%= image_tag 'paypal.svg', alt: 'Donate using Paypal' %></a>
			</p>
		</div>
	</div>
</div>
