<div class="container">
	<div class="row">
		<table class="table-bordered table-condensed table-striped col-sm-12">
			<thead>
				<tr>
					<th class="col-sm-4">Algorithme</th>
					<th class="col-sm-1">Taille</th>
					<td class="col-sm-7"></td>
				</tr>
			</thead>
			<tbody>
				<% CryptCheck::Tls::Cipher.list.each do |cipher| %>
				<tr>
					<th><%= cipher_name_label cipher %></th>
					<th><%= cipher_size_label cipher %></th>
					<th><%= cipher_labels cipher %></th>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>
