<div class="container">
	<div class="row">
		<table class="table-bordered table-condensed table-striped col-sm-12">
			<thead>
				<tr>
					<th class="col-sm-4">Algorithme</th>
					<th class="col-sm-1">Taille</th>
					<td class="col-sm-7"></td>
				</tr>
			</thead>
			<tbody>
			<% %i(TLSv1_2).each do |protocol|
				context = OpenSSL::SSL::SSLContext.new protocol rescue next
			%>
				<!--
				<tr>
					<th colspan="3"><h1><%= protocol %><h1></th>
				</tr>
				-->
				<%
				   context.ciphers = 'ALL:COMPLEMENTOFALL'
				   ciphers = context.ciphers.collect { |c| CryptCheck::Tls::Cipher.new protocol, c }
				   CryptCheck::Tls::Cipher.sort(ciphers).each do |cipher| %>
				<tr>
					<th><%= cipher_name_label cipher %></th>
					<th><%= cipher_size_label cipher %></th>
					<th><%= cipher_labels cipher %></th>
				</tr>
				   <% end %>
			<% end %>
			</tbody>
		</table>
	</div>
</div>
