<div id="help" class="container">
	<div class="scoring row">
		<div class="col-sm-12">
			<%= render partial: 'scoring' %>
		</div>
	</div>
	<div class="checks row">
		<div class="col-sm-12">
			<%= render partial: 'checks' %>
		</div>
	</div>
</div>
