<div id="check" class="container">
	<div class="row">
		<div class="col-sm-12">
			<h1>Vérifier votre domaine</h1>
			<%= form_tag root_path do %>
				<div class="form-group">
					<div class="col-sm-8">
						<%= text_field_tag :host, nil, class: %i(form-control input-lg), placeholder: 'your-site.com' %>
					</div>
					<div class="col-sm-2">
						<%= select_tag :type, options_for_select({'HTTPS' => :https, 'SMTP' => :smtp, 'XMPP' => :xmpp}), class: %i(form-control input-lg) %>
					</div>
					<div class="col-sm-2">
						<%= submit_tag 'Testez-moi !', class: %i(form-control btn btn-primary input-lg pull-right) %>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>
