//= require_tree .
//= require_self
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'bootstrap/variables';
@import 'bootstrap/mixins';
@import 'bootstrap/normalize';
@import 'bootstrap/scaffolding';
@import 'bootstrap/type';
@import 'bootstrap/grid';
@import 'bootstrap/tables';
@import 'bootstrap/forms';
@import 'bootstrap/buttons';
@import 'bootstrap/dropdowns';
@import 'bootstrap/navs';
@import 'bootstrap/navbar';
@import 'bootstrap/progress-bars';
@import 'bootstrap/labels';
@import 'bootstrap/badges';
@import 'bootstrap/alerts';
@import 'bootstrap/utilities';
@import 'bootstrap/responsive-utilities';
@import 'font-awesome-sprockets';
@import 'font-awesome';

* {
	box-sizing: border-box;
}

body {
	padding-top: $navbar-height + 10px;
}

.label-error, .progress-bar-error {
	background-color: #000;
}

table.center td {
	text-align: center;

	&.left {
		text-align: left;
	}
}

td.error {
	background-color: #ddd;
}

td.primary {
	background-color: $state-info-bg;
}

.translation_missing {
	border: 1px solid red;
}

.progress-bar-default {
	background-color: $label-default-bg;
}

.progress {
	margin: 0;
}

#check,
#ssh_check,
#tls_check {
	margin-top: 100px;
}

$color-critical: #d9534f;
$color-error: #e4804e;
$color-warning: #f0ad4e;
$color-good: #beb052;
$color-best: #8db457;
$color-great: #5cb85c;

.label-state-critical {
	background-color: $color-critical;
}
.label-state-error {
	background-color: $color-error;
}
.label-state-warning {
	background-color: $color-warning;
	color: $text-color;
}
.label-state-good {
	background-color: $color-good;
	color: $text-color;
}
.label-state-best {
	background-color: $color-best;
}
.label-state-great {
	background-color: $color-great;
}

.label-state-default {
	//background-color: #008000;
	background-color: $label-default-bg;
}
.label-state-success {
	background-color: $label-success-bg;
}

.alert-critical, .alert-error {
	background-color: $alert-danger-bg;
	color: $alert-danger-text;
	border-color: $alert-danger-border
}
.alert-warning {
	background-color: $alert-warning-bg;
	color: $alert-warning-text;
	border-color: $alert-warning-border
}
.alert-good, .alert-great, .alert-best {
	background-color: $alert-success-bg;
	color: $alert-success-text;
	border-color: $alert-success-border
}

