//= require_tree .
//= require_self

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'bootstrap/variables';
@import 'bootstrap/mixins';
@import 'bootstrap/normalize';
@import 'bootstrap/scaffolding';
@import 'bootstrap/type';
@import 'bootstrap/grid';
@import 'bootstrap/tables';
@import 'bootstrap/forms';
@import 'bootstrap/buttons';
@import 'bootstrap/dropdowns';
@import 'bootstrap/navs';
@import 'bootstrap/navbar';
@import 'bootstrap/progress-bars';
@import 'bootstrap/labels';
@import 'bootstrap/badges';
@import 'bootstrap/alerts';
@import 'bootstrap/utilities';
@import 'bootstrap/responsive-utilities';

@import 'font-awesome-sprockets';
@import 'font-awesome';

* {
	box-sizing: border-box;
}

body {
	padding-top: $navbar-height + 10px;
}

.label-error, .progress-bar-error {
	background-color: #000;
}

table.center td {
	text-align: center;
}

td.error {
	background-color: #ddd;
}

td.primary {
	background-color: $state-info-bg;
}

.translation_missing {
	border: 1px solid red;
}

.progress-bar-default {
	background-color: $label-default-bg;
}

.progress {
	margin: 0;
}

#check,
#ssh_check,
#tls_check {
	margin-top: 100px;
}

.label-state-critical {
  //background-color: #800000;
  background-color: #ff0000;
}

.label-state-error {
  //background-color: #803300;
  background-color: #ff6600;
}

.label-state-warning {
  //background-color: #806600;
  background-color: #ffcc00;
  color: $text-color;
}

.label-state-good {
  //background-color: #668000;
  background-color: #cbff00;
  color: $text-color;
}

.label-state-great {
  //background-color: #338000;
  background-color: #65ff00;
}

.label-state-best {
  //background-color: #008000;
  background-color: #00ff00;
}


